/* Color Palette:
Light Shades: #f2f2f2;
Light Accent: #D9A1A0;
Main Brand Color: #DB6F6F;
Dark Accent: #753D3C;
Dark Shades: #422227;
*/
.name{
    color: #DB6F6F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large
}
.navvy{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #753D3C;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #753D3C;
  }
  